* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    line-height: 2.0;
}

/* Barra de navegación */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #f5b3cd, #f8bde8);
    padding: 10px 20px;
    gap: 20px;
    flex-wrap: nowrap; /* Impide que se bajen los elementos */
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Búsqueda y carrito */
.search-cart {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-cart input {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
}

.search-cart button {
    background: white;
    border: none;
    font-size: 18px; 
    color: #ac105e;
    cursor: pointer;  /* Cambié el cursor a pointer */
}

.search-cart span {
    font-size: 20px;
    color: white;
    cursor: pointer;
}

/* Resultados de búsqueda */
.resultado {
    margin: 20px;
    font-weight: bold;
    color: #d10081;
}

/* Contenedor de bienvenida */
.bienvenida-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

/* Contenedor flex para los items */
.flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}